openapi: 3.0.3
info:
  title: otakakot ID API
  description: |-
    otakakot ID API Documentation
  contact:
    email: kotaro.otaka@example.com
  version: 0.0.1
servers:
  - url: http://localhost:8080
tags:
  - name: Health
    description: Health
  - name: OIDC
    description: OpenID Connect
paths:
  /:
    get:
      tags:
        - Health
      summary: Health Checl
      description: Health check for the application.
      operationId: health
      security: []
      responses:
        "200":
          description: OK
        default:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /.well-known/openid-configuration:
    get:
      tags:
        - OIDC
      summary: OpenID Provider Configuration
      description: OpenID Provider Configuration
      operationId: openIDConfiguration
      security: []      
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenIDConfiguration"
        default:
          description: Internal Server Error
components:
  schemas:
    OpenIDConfiguration:
      type: object
      description: https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata
      properties:
        issuer:
          type: string
          description: http://localhost:8787
          format: uri
          example: http://localhost:8787
        authorization_endpoint:
          type: string
          description: http://localhost:8787/authorize
          format: uri
          example: http://localhost:8787/authorize
        token_endpoint:
          type: string
          description: http://localhost:8787/token
          format: uri
          example: http://localhost:8787/token
        userinfo_endpoint:
          type: string
          description: http://localhost:8787/userinfo
          format: uri
          example: http://localhost:8787/userinfo
        jwks_uri:
          type: string
          description: http://localhost:8787/certs
          format: uri
          example: http://localhost:8787/certs
        response_types_supported:
          type: array
          items:
            type: string
          example:
            - code
        subject_types_supported:
          type: array
          items:
            type: string
          example:
            - public
        id_token_signing_alg_values_supported:
          type: array
          items:
            type: string
          example:
            - RS256
      required:
        - issuer
        - authorization_endpoint
        - token_endpoint
        - userinfo_endpoint
        - jwks_uri
        - response_types_supported
        - subject_types_supported
        - id_token_signing_alg_values_supported
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
      required:
        - message
  securitySchemes:
    cookieSession:
      type: apiKey
      in: cookie
      name: __session__
security:
  - cookieSession: []
